.Contact_contanar {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
}
.Contact_maxwidth {
  margin: auto auto;
  max-width: 1024px;
  height: auto;
}
.Contact_flex {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.Contact_flex h1 {
  font-size: 48px;
  font-weight: 900;
  color: #2d3748;
  margin-top: 20px;
}
.Contact_flex p {
  color: rgb(74, 85, 104);
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.con_form{
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
}
.con_form_maxwidth{
    margin: auto auto;
    max-width: 1024px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con_form_flex{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}
.input_flex{
    display: flex;
    justify-content: space-between;
}
.input_flex input{
    margin-top: 10px;
    background-color: #E2E8F0;
    border: 0;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}
.input_flex input:focus{
    outline: none;
}
.input_flex input::placeholder {
    color:#91959b;
    font-weight: 500;
    font-family:Poppins,serif;
}
.input_flex p{
   color:rgb(113, 128, 150);
   font-size: 16px;
   font-weight: 400;

}
.contact_area{
    margin-top: 20px;
  }

.contact_area textarea{
    background-color: transparent;
    border: 0px ;
    background-color: #E2E8F0;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-family:Poppins,serif;
    width: 100%;
  }
  .contact_area textarea:focus{
    outline: none;
  }
  .contact_area textarea::placeholder{
    color:#91959b;
    font-weight: 500;
    font-family:Poppins,serif;
    font-size: 16px;
  }