.order_product_contant {
  width: 487px;
  height: auto;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.order_product {
  width: 100%;
  /* background-color: blue; */
  height: auto;
  padding: 20px;
}

.order_details_flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}







.address-card {
  max-width: 700px;
  margin: 0px auto;
  padding: 30px 24px;
  background-color: #fefefe;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #2c3e50;
}

.address-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 28px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  color: #34495e;
}

.address-section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.address-icon {
  font-size: 22px;
  color: #5caf90;
  margin-right: 14px;
  margin-top: 4px;
  flex-shrink: 0;
}

.address-text {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #555;
}
