.Cart_details_contaner{
    width: 100%;
    height: auto;
}
.Cart_details_maxwidth{
    margin: auto auto;
    max-width: 1024px;
    /* background-color: aqua; */
    /* height: 100vh; */
    /* position: relative;
    top: 0;
    right: 0; */
}
.Cart_details_flex{
    display: flex;
    gap: 10px;
    
}
.cart_product{
    width: 564px;
    /* background-color: blue; */
    height:auto;
    padding: 20px;
}
.cart_product_cal{
    /* background-color: brown; */
    width: 450px;
    height: auto;
    padding: 20px;
    
}
.cart_product_cal_heading h3{

    color: rgb(61, 61, 61);

}
.cart_product_cal_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart_product_cal_flex p{
 color: rgb(87, 87, 87);
 font-weight: 500;
}
.cart_product_contant{
    width: 100%;
    height: auto;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.cart_product_price{
    display: flex;
    gap: 10px;
}
.cart_product_price p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(77, 77, 77);
}
.cart_product_price_data{
    display: flex;
    gap: 10px;
}
.cart_product_price_data p{
    color: rgb(100, 100, 100);
    font-weight: 500;
}
.cart_product_contant_remove{
    color: rgb(61, 61, 61);
    font-weight: 500;
}
.cart_product_contant_remove button{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    background-color: rgb(255, 67, 67);
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.cart_product_contant_remove button:focus{
    border: 0;
    outline: none;
}

  
  .button3 {
    color: #ffffff;
    background-color: #40ce9a;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    cursor: pointer;

    /* box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; */
  }
  .button3:focus{
    border: 0;
    outline: none;
}



  
 

