.felx_image {
    width: 100%;
    height: 60vh;
  }
  .felx_image_maxwidth {
    margin: auto auto;
    max-width: 1024px;
    height: 60vh;
    padding: 20px;
  }

  @media (max-width: 425px) {
    .felx_image_maxwidth {
      margin: auto auto;
      max-width: 1024px;
      height: 35vh;
      padding: 20px;
    }
    .felx_image {
      width: 100%;
      height: 32vh;
    }
} 