.menu_contaner{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d1d1;
}
.menu_maxwidh{
    margin: auto auto;
    max-width: 1024px;
    height: 50px;
}
.menu_flex{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.menu_icon_flex{
    display: flex;
    align-items: center;
    gap: 5px;
}
.menu_icon_flex p{
    color: #434c53;
    font-size: 16px;
    font-weight: 500;
}